<html>
<head>
<title>Library Database</title>
</head>
<head th:replace="fragments/header :: header"> </head>
<body>
	<!-- (Source code only read): adds the navagation menu bar -->
	<div th:replace="fragments/top-nav ::  navbar">
	</div>
	<h1 style="text-align: center;">Welcome to the Library Database</h1>
	<p style="text-align: center;">
	<img src="https://upload.wikimedia.org/wikipedia/commons/0/08/Book_shop_with_non_fiction_books_on_Japan_6.jpg" style="max-width: 80%; max-height: 60%; padding-top: 10px;">
	</p>
</body>
</html>