<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header"> </head>
<body>
	<!-- (Source code only read): adds the navagation menu bar -->
	<div th:replace="fragments/top-nav ::  navbar">	</div>

	<h2 style="text-align: center;">List of Rooms</h2>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Room Number</th>
				<th scope="col">Max Capacity</th>
			</tr>
		</thead>
		<tbody>
			<!-- acts like a for each loop and iterates through all the roomss -->
			<tr th:each="room:${rooms}">
				<td th:text="${room.roomno}"></td>
				<td th:text="${room.maxcap}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>
